*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.body-container {
  background-image: url(../img/image.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.brend {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}

.brend:hover {
  color: #3cb878;
}

.header-container {
  display: flex;
  justify-content: space-around;
}

.header-icons {
  text-decoration: none;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.icons {
  fill: white;
}

.icons:hover {
  fill: #3cb878;
}

.header-links {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  margin-top: 20px;
  padding-left: 3px;
}

.line-header {
  display: inline-block;
  width: 1px;
  height: 19px;
  margin-top: 20px;
  margin-right: 24px;
}

span:hover {
  color: #3cb878;
}

.main-page {
  padding-bottom: 75px;
}

.main-page-form {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 444px;
  height: auto;
}

.sing-up {
  display: flex;
}

.decor-green-cyb {
  margin: 29px 0;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}
.caption-sing {
  display: flex;
  align-items: center;
  margin-left: 43px;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.link-log {
  margin-left: 216px;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3cb878;
}

.link-log:focus {
  color: #01813f;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button {
  margin-left: 12px;
}

.first-button {
  display: flex;
  align-items: center;
  margin-right: 6px;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background: #305db8;
}

.first-button:focus {
  background: #022263;
}

.second-button {
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background: #df4a32;
}

.second-button:focus {
  background: #ab1f09;
}

.line-button {
  margin: 0 10px 0 10px;
  padding: 10px 0 10px 0;
  height: 5px;
  background-color: black;
  border: 0.5px solid black;
  opacity: 0.1;
}

.text-first-button {
  margin-left: 10px;
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.text-second-button {
  margin-left: 10px;
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.element-or {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-or {
  margin: 5px;
  display: flex;
  justify-content: center;
  color: #848484;
}

.line-or {
  margin: 1px;
  padding: 0.8px;
  width: 145px;
  border: none;
  background: #f2f2f2;
}

.element-form:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
  color: #434343;
}

.element-form {
  display: block;
  width: 322px;
  height: 44px;
  font-size: 14px;
  line-height: 14px;
  left: 61px;
  margin: 16px 60px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #bebebe;
}

.text-checkbox {
  width: 20px;
  height: 20px;
  margin: 4px 8px 10px 65px;
  color: #434343;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}

.link-checkbox {
  text-decoration: none;
  color: #3cb878;
}

.link-checkbox:focus {
  color: #01813f;
  border-bottom: 1px solid #01813f;
}

.button-create {
  margin: 10px 60px 38px;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.button-create:focus {
  background: #01813f;
}
