*,
*::before,
*::after {
  font-family: sans-serif;
}

.page-body {
  margin: 0;
  box-sizing: border-box;
  /* width: 1900px; */
}

.page-header {
  display: block;
  text-align: center;
}

.page-header-menu {
  display: flex;
  justify-content: space-between;
  background: #313131;
}

.header-logo {
  margin-left: 27px;
}

.link-logo {
  text-decoration: none;
}

.text-logo {
  margin-left: 27px;
  font-size: 22px;
  color: #ffffff;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu-links {
  list-style: none;
  text-transform: uppercase;
}

.header-navbar-items {
  text-decoration: none;
  text-align: center;
  padding-left: 35px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.header-navbar-items:hover {
  color: #14b9d5;
}

.button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 68px;
  border: none;
  background-color: #000000;
}

.button-loupe {
  background-color: #000000;
}

.page-header-container {
  background-image: url(../img/header-background.jpg);
  background-size: cover;
  height: 205px;
  padding-top: 164px;
}

.header-title {
  font-size: 27px;
  line-height: 37px;
  padding: auto;
  color: #ffffff;
  margin: 0;
}

.header-buttons {
  padding: 44px 10px;
}

.header-button-items {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.button-green {
  background-color: #89ca62;
  padding: 16px 19px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
  margin: 10px;
}

.button-blue {
  background-color: #14b9d5;
  padding: 16px 29px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 2px;
  margin: 10px;
}

.page-main {
  margin: 0;
}

.container-picture-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-top: 49px;
  padding-bottom: 72px;
  background: #f2f2f2;
}

.title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  margin: 0;
  margin-bottom: 52px;
  text-transform: uppercase;
  color: #18b4cf;
}

.block-picture {
  width: 1200px;
  height: 833px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  gap: 0;
}

.posts-items {
  width: 370px;
  text-decoration: none;
}

.add {
  margin-bottom: 30px;
}

.picture {
  background: #ffffff;
}

.picture-text {
  display: block;
  text-decoration: none;
  padding: 21px 15px;
  background: #ffffff;
  color: #353a3d;
  font-weight: bold;
  font-size: 18px;
}

.container-clients {
  display: grid;
  background-image: url(../img/Layer4.jpg);
  background-size: cover;
  height: 590px;
  text-align: center;
}

.title-clients {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-top: 106px;
}

.service-line {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  border: none;
}

.container-brands {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-content: center;
  margin-bottom: 185px;
}

.picture-brands {
  margin: 5px 29px;
}

.container-picture-rated {
  display: grid;
  text-align: center;
  padding-top: 49px;
  grid-template-columns: repeat (7, min-content);
  grid-template-columns: repeat (auto-fit, minmax (271px, auto));
  grid-gap: 0;
  justify-content: center;
}

.block-picture-rated {
  display: grid;
  grid-auto-flow: column;
}

.container-picture-news {
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 49px;
}

.picture-news-block {
  display: grid;
  grid-template-columns: 277px 277px 277px 277px;
  grid-template-rows: repeat(4, minmax (auto, 258px));
  row-gap: 44px;
  column-gap: 20px;
  width: 1200px;
  align-items: center;
}

.elements {
  text-align: center;
  width: 100%;
}

.elements1 {
  grid-column: span 3;
  text-align: end;
}

.elements2 {
  grid-column: span 1;
}

.elements3 {
  grid-column: span 2;
  text-align: end;
}

.elements4 {
  grid-column: span 2;
  text-align: end;
}

.elements5 {
  grid-column: span 2;
  text-align: end;
}

.elements6 {
  grid-column: span 2;
  text-align: end;
}

.elements7 {
  grid-column: span 1;
}

.elements8 {
  grid-column: span 3;
}

.block-elements1 {
  display: flex;
  vertical-align: baseline;
}

.block-elements8 {
  display: flex;
  vertical-align: baseline;
}

.picture-text-news {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.content-element {
  padding-top: 14px;
  /* font-weight: 600; */
  font-size: 14px;
  line-height: 21px;
}

.content-element1 {
  text-align: end;
}

.content-element8 {
  text-align: end;
}

.footer-with-copyright {
  height: 80px;
  margin-top: 77px;
  background: #000000;
}

.conteiner-footer-copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
}

.footer-copyright {
  align-items: center;
  text-align: right;
  padding-top: 29px;
  padding-right: 365px;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}

.footer-logo {
  display: block;
  padding-left: 386px;
  padding-top: 29px;
}
