.page {
  font-family: sans-serif;
  margin: 0;
}

.header-navbar {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
}

.header-navbar-menu {
  display: inline-block;
  align-items: center;
  padding-left: 0;
}

.header-navbar-menu-links {
  text-decoration: none;
  color: #ff0000;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding: 26px 36px;
}

.image {
  padding: 0;
  align-items: center;
  width: 100%;
}

.section-title {
  margin: 49px 253px 38px;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  color: #373737;
}

.section-paragraph {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}

.link-wrapper {
  text-align: center;
  margin: 86px 545px 150px;
}

.link {
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff0000;
  border: #ff0000;
  padding: 17px 43px;
  border-radius: 4px;
  letter-spacing: 1.8px;
  font-style: normal;
  font-weight: bold;
}

.link-footer {
  margin: 41px 105px 29px 713px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: right;
  font-weight: bold;
  color: #373737;
}
