*,
*::before,
*::after {
  font-family: sans-serif;
  box-sizing: border-box;
}

.body-wrapper {
  width: 1366px;
  height: 768px;
  background-image: url(../img/background1.jpg);
  margin: 0;
  padding: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;
  padding: 46px 177px 17px 161px;
}

.logo-links {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-logo {
  display: block;
}

.logo-links:hover .image-logo-activ {
  display: block;
  left: 0;
  bottom: 16px;
}

.image-logo-activ {
  position: absolute;
  display: none;
}

.logo-text-wrapper {
  display: grid;
  margin-left: 10px;
}

.logo-milan {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
}

.logo-links:hover .logo-milan {
  color: #f26522;
}

.logo-holidays {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.logo-links:hover .logo-holidays {
  color: #f26522;
}

.contacts-wrapper {
  display: grid;
}

.header-email {
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 19px;
  font-size: 18px;
  line-height: 18px;
}

.header-email:hover {
  color: #f26522;
}

.header-nomber {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
}

.header-nomber:hover {
  color: #f26522;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  padding-left: 165px;
  gap: 37px 61px;
  margin: 0;
  align-items: center;
}

.menu-items {
  position: relative;
  list-style: none;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.picture {
  position: relative;
  display: block;
  padding-bottom: 20px;
}

.picture-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
}

.menu-items:hover .picture-text {
  color: #f26522;
}

.price {
  position: absolute;
  display: none;
  bottom: 38px;
  left: 0;
  width: 300px;
  height: 55px;
  text-align: center;
  background: #f26522;
}
.price-container {
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.price-paragraph {
  color: #ffffff;
  padding-top: 7px;
  padding-left: 16px;
  margin: 0;
}

.price-text-from {
  display: block;
  font-size: 10px;
  line-height: 10px;
}

.price-text-cost {
  display: block;
  font-size: 20px;
  line-height: 20px;
  padding-top: 8px;
}
.details {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  padding-top: 29px;
  padding-bottom: 12px;
}

.details::after {
  content: ">";
  margin-right: 14px;
  margin-left: 16px;
}
.menu-items:hover .price {
  display: block;
}

.body-footer {
  color: #ffffff;
  text-align: center;
}

.text-footer {
  margin-top: 49px;
  font-size: 12px;
  line-height: 12px;
}
