*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

.body-container {
  width: 100%;
  height: 100%;
  background-color: black;
}

.body-wrapper {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 400%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

.body-wrapper::after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  pointer-events: none;
}
.title {
  text-align: center;
}

.text {
  position: absolute;
  bottom: 100%;
  animation: jedi 30s linear 1s infinite;
  color: yellow;
}

@keyframes jedi {
  0% {
    top: 100%;
  }
  100% {
    top: -200%;
  }
}
