*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 60px 100px;
}

.container {
  width: 1280px;
}

header {
  margin-bottom: 48px;
}

.logo-wrapper {
  margin-bottom: 38px;
}

.logo {
  font-size: 80px;
  text-decoration: none;
  color: black;
}

span {
  color: #4bcaff;
}

.header-nav {
  display: flex;
  justify-content: center;
  background: #35444f;
}

.header-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-list {
  padding: 26px 38px 19px;
  font-size: 24px;
  border-left: 1px solid #ffffff;
}

.header-list:hover {
  background: #222f3a;
}

.header-last {
  border-right: 1px solid #ffffff;
}

.header-item {
  text-decoration: none;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

aside {
  width: 344px;
  border: 1px solid #495863;
}

.aside-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.column {
  padding: 26px 0px 26px 44px;
  font-size: 27px;
  text-decoration: none;
}

.column:hover {
  padding-left: 70px;
  background: #dbdbdb;
  color: black;
}

.column-item {
  color: #485863;
  text-decoration: none;
}

.section-page {
  width: 885px;
}

.picture-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  height: 528px;
}

.text {
  font-size: 18px;
  margin-top: 35px;
  color: #2c2c2c;
}

footer {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
}

.footer-contenier {
  display: flex;
  justify-content: center;
}

.footer-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-list {
  padding-left: 35px;
  padding-top: 20px;
  font-size: 28px;
}

.footer-item {
  text-decoration: none;
  color: #000;
}

.footer-item:hover {
  text-decoration: underline;
  color: #0000ff;
}

.copyright {
  font-size: 24px;
  margin-right: 40px;
}

.copyright-text {
  text-decoration: none;
  color: black;
}
