*,
*::before,
*::after {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 800px;
}
.tabs {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs-nav {
  display: flex;
  justify-content: space-between;
}

.tabs-nav_item {
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
  flex: 1 1 100%;
  position: relative;
  outline: none;
}

.tabs-nav_item.active {
  background-color: #937341;
  color: #23201d;
}

.tab {
  display: none;
  padding: 20px;
}

.tab.active {
  display: block;
}
